<div class="main-body">
  <div class="background-image">
    <div class="container box">
      <h1><strong>Revolutions.</strong> In your local area.</h1>
      <h3>Let's riot!</h3>
      <div>
        <a href="/login" class="btn btn-danger">Login</a>
        <a href="/signup" class="btn btn-success">Join</a>
      </div>
    </div>
  </div>
</div>
