<div class="background-image">

  <div id="box" class="container">
    <h2>Join the Movement!</h2>
    <div>
      <button class="btn btn-danger">Login</button>
      <button class="btn btn-success">Join</button>
    </div>

  </div>


</div>
