<div class="main-body background-image">

  <div class="container box">
    <h1><strong>Revolutions.</strong> In your local area.</h1>
    <h3>Join the Movement!</h3>
    
    <div>
     <a href="/login" class="btn btn-danger">Login</a>
     <a href="/signup" class="btn btn-success">Join</a>
    </div>
  </div>

</div>
