<div class="site-header">
  <h2><a class= "text-muted" href="/revolutions"><i class="fa fa-chevron-circle-left fa-2x"></i></a> </h2>
</div>

<div class="container main-body rev-box">
  <div class="card">
    <div class="card-header rev-details-header">
      <div class="title-and-author">
          <h5 class="card-title">Cuban Revolution</h5>
          <h6 class="card-subtitle mb-2 text-muted"><small>by FidelCastro</small></h6>
      </div>
      <div class="participants-intensity">
          <p class="text-muted">Participants: <span class="badge badge-dark badge-pill">14</span></p>
          <p class="text-muted">Intensity: <span class="badge badge-dark badge-pill">9</span></p>
      </div>        
    </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
    </div>
    <div class="card-footer text-muted rev-details-header">
      <div>
          <a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-play"></i> Call to action</a>        
          <a href="#" class="btn btn-outline-danger btn-sm">Join the battle</a>        
      </div>
      <div>
          <p><i class="fa fa-calendar"></i>  12/03/2018</p>
          <p><i class="fa fa-map-marker"></i> Plaza Catalunya 34, Barcelona</p>
      </div>       
    </div>
  </div>
    <div class="card test-map">
      <div class="card-body">
      </div>
  </div>
</div>