<div class="site-header">
  <h2>Revolutions in your local area</h2>
</div>

<div class="container main-body rev-box">
  <div class="card">
    <div class="card-header rev-details-header">
      <div class="title-and-author">
          <h5 class="card-title">Cuban Revolution</h5>
          <h6 class="card-subtitle mb-2 text-muted"><small>by FidelCastro</small></h6>
      </div>
      <div class="participants-intensity">
          <p class="text-muted">Participants: <span class="badge badge-warning badge-pill">14</span></p>
          <p class="text-muted">Intensity: <span class="badge badge-warning badge-pill">9</span></p>
      </div>        
    </div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-danger"><i class="fa fa-play"></i>  Play call to action</a>
      <a href="#" class="btn btn-danger">Join the battle</a>
    </div>
  </div>
    <div class="card test-map">
      <div class="card-body">
      </div>
  </div>
</div>