<div class=" background-image">
  <div class="box container">
      <div>
          <h1>Think global. Act local.</h1>
          <h3>(You <strong><em>must</em></strong> tell us where you are.)</h3>
      </div>
      <div class="form-group">
        <form action="/get-revolutions" method="POST">
          <input type="text" id="autocomplete" name="stringLocation" class="form-control" placeholder="Tell us where you are">
          <p>(Don't worry: we'll keep it <em>encrypted... </em>)</p>
          <button type="submit" class="btn btn-success">Understood</button>
          <input type="text" name="userlat" id="user-lat" class="hidden">
          <input type="text" name="userlng" id="user-lng" class="hidden">
          
        </form>
      </div>
      <% if(typeof message !== "undefined") {%>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
  </div>    
</div>

<script src="/javascripts/ul-autocomplete.js"></script>


